

:root{
    --white: #fafafa;
    --black: black;
    --blue: #4f9cf0;
    --blue2: #4f5ff0;
}

body{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    color: var(--black);
    background-color: var(--white);
}

.app{
    display: flex;
    text-align: center;
    font-size: smaller;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 615px;
}